{% extends 'components/layout/default.html.twig' %}

{% block title %}Details du Produits{% endblock %}

{% block content %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Designation</th>
                <td>{{ produit.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ produit.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ produit.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <a class="border border-2 p-3 m-4 text-danger rounded bg-outline-danger" href="{{ path('app_produit_index') }}">Voir la liste</a>

    <a class="border border-2 p-3 m-4 text-white rounded bg-primary" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>

{#    {{ include('produit/_delete_form.html.twig') }}#}
{% endblock %}
